<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>后台管理</title>
  <link rel="stylesheet" th:href="@{/static/css/index.css}" type="text/css"/>
  <link th:href="@{/static/css/infoManagement.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/static/css/management.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div style="position: fixed;width: 100%;height: 130px; top: 0">
  <div id="hearder2" class="clearfix" >
    <div class="logo">
      <img th:src="@{/static/img/schoolBadge.jpg}">
    </div>
    <div class="logo-name">后台管理</div>
  </div>
  <div id="menu-box" class="clearfix">
    <ul>
      <li><a th:href="@{/}">首页</a></li>
      <li><a th:href="@{/activity/activity}">学院活动</a></li>
      <li><a th:href="@{/clubIntroduce/clubIntroduce}">社团中心</a></li>
      <li><a th:href="@{/applications/applications}">活动申请</a></li>
      <li><a th:href="@{/SortingTheUrl/infoManagement}">信息管理分院</a></li>
      <li><a th:href="@{/SortingTheUrl/architecturalEngineering}">建筑工程分院</a></li>
      <li><a th:href="@{/SortingTheUrl/buildingDesign}">建筑设计分院</a></li>
      <li><a th:href="@{/SortingTheUrl/architecturalEquipment}">建筑设备分院</a></li>
    </ul>
  </div>
</div>
<div id="Man_img" style="margin-top: 130px"><img th:src="@{/static/img/personHome.jpg}"/></div>
<div id="infors">
  <div class="navigation">
    <ul>
      <li><a th:href="@{/management/managementIndex}">活动管理</a></li>
      <li><a th:href="@{/management/managementClub}">社团管理</a></li>
      <li><a th:href="@{/management/activityReleased}">发布活动</a></li>
      <li><a th:href="@{/management/announcement}">公告发布</a></li>
      <li><a th:href="@{/management/noticeIssued}">通知发布</a></li>
      <li><a th:href="@{/management/announcementToInform}">公告通知操作</a></li>
      <li><a th:href="@{/management/reviewActivities}">活动申请审核</a></li>
    </ul>
  </div>
  <div class="management">
    <div class="managementHeads"><h1>活动发布</h1></div>
    <div class="managementCenter">
      <form>
        <table border="1px" cellspacing="0" cellpadding="0" width="100%" height="410px" align="center">
          <tr align="center"style="height: 40px">
            <td width="15%">活动名称:</td>
            <td colspan="5" width="75%"><input style="width: 80%" type="text" placeholder="请填写名称"></td>
          </tr>
          <tr align="center"style="height: 40px">
            <td rowspan="3">正文：</td>
            <td rowspan="3" colspan="5"><textarea rows="17" cols="100" style="resize: none;width: 100%;height: 100%;background-color: #dcf0f6"></textarea></td>
          </tr>
          <tr align="center"style="height: 40px">
          </tr>
          <tr align="center"style="height: 40px">
          </tr>
          <tr align="center"style="height: 40px">
            <td width="15%">主题：</td>
            <td width="40%" colspan="5"><input style="width: 70%" type="text" placeholder="请输入主题"></td>
          </tr>
          <tr align="center"style="height: 40px">
            <td width="15%">发布时间：</td>
            <td width="20%"><input type="text" placeholder="时间"></td>
            <td width="15%">编辑人：</td>
            <td width="20%"><input type="text" placeholder="编辑人"></td>
            <td width="15%">发布人：</td>
            <td width="20%"><input type="text" placeholder="发布人"></td>
          </tr>
        </table>
      </form>
    </div>
    <div class="managementPaging">
      <div class="buttons">
        <button type="button" >发布</button>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 20px; text-align: center;width: 100%;height: 50px;background-color: #b9c0c2;">
  <p style=" padding-top: 18px;color: #0aa6d6;font-family: 华文隶书;font-size: 20px;text-align: center;">贵州建设职业技术学院"第十六届技能文化艺术节网页设计参赛作品"</p>
</div>
</body>
</html>