<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/register.css}">
</head>
<body>
    <div id="reg1">
      <div id="reg1_to"><br/><h4>申请找回密码</h4></div>
        <form method="post" id="forms" th:action="@{/register/userFind}">
            <table style="margin: 10px auto">
                <tr>
                    <td>账号：</td>
                    <td><input type="text" id="username" placeholder="请输入账号"/></td>
                    <td><span id="namespan"></span></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" placeholder="曾用密码1"></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" placeholder="曾用密码2"></td>
                </tr>
                <tr>
                    <td>学号：</td>
                    <td><input type="text" id="number" placeholder="请确输入学号"/></td>
                    <td><span id="numberspan"></span></td>
                </tr>
                <tr>
                    <td>邮箱：</td>
                    <td><input type="text" id="emil" placeholder="请确输入邮箱"/></td>
                    <td><span id="emlispan"></span></td>
                </tr>
            </table>
            <button type="submit" id="sub_find">提交密码找回申请</button>
            <button type="button" id="returnIndex"><a th:href="@{/}" style="text-decoration: none;color: #ffffff">返回首页</a></button>
        </form>
        <script th:src="@{/static/js/jquery-1.7.2.js}" type="text/javascript" rel="stylesheet"></script>
        <script type="text/javascript">
            $(function () {
                $("#sub_find").click(function (event) {
                    alert("已提交管理员审核，预计三个工作日内将结果返回你的邮箱中，请注意查收！")
                    event.submit;

                })
            })
        </script>
    </div>

</body>
</html>