<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>建筑工程</title>
    <link th:href="@{/static/css/architecturalEngineering.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/css/infoManagement.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/css/index.css}" type="text/css"/>
</head>
<body>
    <div id="arc">
        <div class="navigationFixed">
        <div id="arc_long">
            <div class="logo"><img th:src="@{/static/img/schoolBadge.jpg}"/></div>
            <div class="logo-name">贵州建设职业技术学院——建筑工程分院</div>
        </div>
        <div id="Man_head_navigation">
            <ul>
                <li><a th:href="@{/}">首页</a></li>
                <li><a href="">学院简介</a></li>
                <li><a href="">学院活动</a></li>
                <li><a href="">学院社团</a></li>
                <li><a href="">学生会</a></li>
                <li><a th:href="@{/register/userLogin}">后台登录</a></li>
            </ul>
        </div>
        </div>
        <div id="Man_img"><img th:src="@{/static/img/architeHomePhoto.jpg}"/></div>
        <div style="margin: 20px auto;width: 90%;height: 30px">
            <div class="inform">
                建工时刻
                <a href="javaScript:void(0)" class="more"><img th:src="@{/static/img/more.gif}"/></a>
            </div>
        </div>
        <div id="arc_center">
                <div class="ha">
                    <div class="date"><a href="javaScript:void(0)"><img th:src="@{/static/img/architecDate1.jpg}"></a></div>
                    <div class="date"><a href="javaScript:void(0)"><img th:src="@{/static/img/architecDate2.jpg}"></a></div>
                    <div class="date"><a href="javaScript:void(0)"><img th:src="@{/static/img/architecDate3.jpg}"></a></div>
                    <div class="date"><a href="javaScript:void(0)"><img th:src="@{/static/img/architecDate4.jpg}"></a></div>
                </div>
                <div class="le">
                    <div class="ledate"><a href="javaScript:void(0)"><img th:src="@{/static/img/architecleDate1.jpg}"></a></div>
                    <div class="ledate" style="margin-top: 20px"><a href="javaScript:void(0)"><img th:src="@{/static/img/architecleDate2.jpg}"></a></div>
                </div>
                <div class="centers">
                        <a href="javaScript:void(0)"><img th:src="@{/static/img/arcthitecentes.jpg}"></a>
                </div>
        </div>
        <div id="arc_info">
                <div class="les">
                    <div class="inform">
                        建工活动
                        <a href="javaScript:void(0)" class="more"><img th:src="@{/static/img/more.gif}"/></a>
                    </div>
                    <ul>
                        <li th:each="ActivityInform:${ActivityInform}"><a href="javaScript:void(0)" th:text="${ActivityInform.informName}"></a><span th:text="${ActivityInform.informTime}" ></span></li>
                    </ul>
                </div>
                <div class="rgs">
                    <div class="rgsDate">
                        <div class="inform">
                            建工社团
                            <a href="javaScript:void(0)" class="more"><img th:src="@{/static/img/more.gif}"/></a>
                        </div>
                        <ul>
                            <li th:each="clubInform:${clubInform}"><a href="javaScript:void(0)" th:text="${clubInform.informName}"></a><span th:text="${clubInform.informTime}"></span></li>
                        </ul>
                    </div>
                    <div class="rgsDate" style="margin-top: 20px">
                        <div class="inform">
                            建工学生会
                            <a href="javaScript:void(0)" class="more"><img th:src="@{/static/img/more.gif}"/></a>
                        </div>
                        <ul>
                            <li th:each="unionInform:${unionInform}"><a href="javaScript:void(0)" th:text="${unionInform.informName}"></a><span th:text="${unionInform.informTime}"></span></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <div id="arc_end">
        <p>贵州建设职业技术学院"第十六届技能文化艺术节网页设计参赛作品"</p>
    </div>
</body>
</html>