<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>建筑设计</title>
    <link rel="stylesheet" th:href="@{/static/css/buildingDesign.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/css/index.css}" type="text/css"/>
</head>
<body>
    <div id="bud">
        <div class="navigationFixed">
            <div id="bud_head">
                <div id="bud_head_long">
                    <div class="logo"><img th:src="@{/static/img/schoolBadge.jpg}"/></div>
                    <div class="logo-name">贵州建设职业技术学院——建筑设计学院</div>
                </div>
            </div>
        <div id="bud_head_navigation">
            <ul>
                <li><a th:href="@{/}">首页</a></li>
                <li><a href="">学院简介</a></li>
                <li><a href="">学院活动</a></li>
                <li><a href="">学院社团</a></li>
                <li><a href="">学生会</a></li>
                <li><a th:href="@{/register/userLogin}">后台登录</a></li>
            </ul>
        </div>
        </div>
            <div id="bud_homePhoto" style="background-image: url(http://139.224.189.89:8080/schoolAssociation/static/img/designHomePhoto.jpg)">
                <div id="bud_h" style="padding-top: 150px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
                <div id="bud_h" style="padding-top: 100px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
                <div id="bud_h" style="padding-top: 140px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
                <div id="bud_h" style="padding-top: 180px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
                <div id="bud_h" style="padding-top: 150px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
                <div id="bud_h" style="padding-top: 130px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
                <div id="bud_h" style="padding-top: 90px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
                <div id="bud_h" style="padding-top: 150px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
                <div id="bud_h" style="padding-top: 90px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
                <div id="bud_h" style="padding-top: 115px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
                <div id="bud_h" style="padding-top: 170px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
                <div id="bud_h" style="padding-top: 150px;"><span style="padding-left:20px;padding-top:10px;font-size: 10px;font-family: 华文彩云">设计</span></div>
            </div>
        <div id="bud_inform">
            <div class="inform">
                设计时刻
                <a href="javaScript:void(0)" class="more"><img th:src="@{/static/img/more.gif}"/></a>
            </div>
        </div>
        <div id="bud_moment">
            <div id="bud_centers_right">
                <div class="rights">
                    <div class="rigle">
                        <div class="heads">
                            <div class="dates1"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing1.jpg}"/></a></div>
                            <div class="dates2"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing2.jpg}"/></a></div>
                        </div>
                        <div class="endes">
                            <div class="left1"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing3.gif}"/></a></div>
                            <div class="left2">
                                <div class="left2Date1"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing4.jpg}"/></a></div>
                                <div class="left2Date2"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing5.jpg}"/></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="rigs"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing6.jpg}"/></a></div>
                </div>
                <div class="ends">
                    <div class="flats"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing7.jpg}"/></a></div>
                    <div class="right1">
                        <div class="head1"><span style="font-family: 华文新魏;font-size: 60px;text-decoration: none;padding-left: 50px;padding-top: 20px;display:inline-block;">建筑设计学院</span></div>
                        <div class="ende1"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing8.jpg}"/></a></div>
                        <div class="ende2"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing11.jpg}"/></a></div>
                    </div>
                </div>
            </div>

            <div class="centers_rigth">
                <div class="headOne"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing10.jpg}"/></a></div>
                <div class="flatOne">
                    <div class="dateOne"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing9.jpg}"/></a></div>
                    <div class="dateOnes"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing12.jpg}"/></a></div>
                </div>
                <div class="flatOnes"><a href="javaScript:void(0)"><img th:src="@{/static/img/desing13.jpg}"/></a></div>
            </div>
        </div>
        <div id="bud_informs">
            <div class="infoHeads">
                <div class="inform">
                    活动通知
                    <a href="javaScript:void(0)" class="more"><img th:src="@{/static/img/more.gif}"/></a>
                </div>
                <ul>
                    <li th:each="ActivityInform:${ActivityInform}"><a href="javaScript:void(0)" th:text="${ActivityInform.informName}"></a><span th:text="${ActivityInform.informTime}" ></span></li>
                </ul>
            </div>
            <div class="infoEnds">
                <div class="inform">
                    社团通知
                    <a href="javaScript:void(0)" class="more"><img th:src="@{/static/img/more.gif}"/></a>
                </div>
                <ul>
                    <li th:each="clubInform:${clubInform}"><a href="javaScript:void(0)" th:text="${clubInform.informName}"></a><span th:text="${clubInform.informTime}"></span></li>
                </ul>
            </div>
            <div class="infoEnds1">
                <div class="inform">
                    学生会通知
                    <a href="javaScript:void(0)" class="more"><img th:src="@{/static/img/more.gif}"/></a>
                </div>
                <ul>
                    <li th:each="unionInform:${unionInform}"><a href="javaScript:void(0)" th:text="${unionInform.informName}"></a><span th:text="${unionInform.informTime}"></span></li>
                </ul>
            </div>
        </div>
        <div id="bud_end">
            <p>贵州建设职业技术学院"第十六届技能文化艺术节网页设计参赛作品"</p>
        </div>
    </div>
</body>
</html>